@font-face {
    font-family: yqsFont;
    src: url(../fonts/POLITICA.TTF);
}

@font-face {
   font-family: yqsFont;
   src: url(../fonts/POLITICA_BOLD.TTF);
   font-weight: bold;
}

body{
	background-color:#155847;
}
nav{
	background-color:#155847;
}
button:focus {
outline: none;
}

.navbar-inverse {
  background-color: #155847;
  border-color: #080808;
}
.container{
	background-color:#155847;
}

#inicio{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#155847;
	//z-index:1;
	text-align:center;
	padding-top:20%;
	padding-bottom:20%;
	overflow:auto;
}

#inicio h1{
	color:#FFF;
	font-family: yqsFont;
}
#inicio h4{
	//color:#befffc;
	color:#fff;
	font-family: yqsFont;
	font-size:1.5em;
}

#inicio #eleccion {
	direction: rtl;
	//color:#befffc;
	font-family: yqsFont;
	color:#fff;
	background-color:#155847;	
	border: none;
	margin-left:1%;
	margin-right:1%;
	/*border: 1px solid #AAA;
	border-radius: 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
/*	text-align:center;
	font-size: inherit;
	padding-top: 5px;
	padding-bottom: 5px;/
	/*margin: 0;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;*/
}
.bJugar{
	top:66%;
	background-color:#1e9577;	
	background-size: 100%;
	//color:#40d9b3;
	color:#fff;
	border: none;
	//background: url(../img/botonInicio.jpg) no-repeat;
	//width:226px;
	//height:74px;
	width:210px;
	height:60px;
	border-radius: 1.8em;
	box-shadow: 5px 5px 3px #174c3e;
	font-family: yqsFont;
}
.imgInicio{
	width:345px;
	height:75px;
}
#game{
	position:absolute;
	left:0;
	top:0;
	padding-top:5px;
	width:100%;
	height:100%;
	background-color:#155847;	
	//z-index:0;
	overflow:hidden;
}

header {
	background-color: #155847;
	color: #000;
	text-align: center;
}
.recorrido{
	text-align:center;		
}
.recorrido ul {
	position: relative;
	display: inline-block;
	margin: 0 0 0 0;
	padding-top: 20px;
	//padding-bottom: 2%;
	padding-left: 0;
	height: 7%;
	width:60%;
	list-style: none;	
	
	//cursor: default;
}

.dots {
	/*	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 100%;
	background-color: #000;
	background-color: rgba(100,100,100,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	//	position: absolute;

	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right:2%;
	margin-left:2%;
	//margin-top:4px;
	//margin-bottom:8px
	//padding-bottom:2px;
	//margin-bottom:2px;

	text-indent: -999em;

	border: 1px solid #155847;
	border-radius: 16px;
	//padding-botton:4px;

	//cursor: pointer;
	//opacity: .4;

	background-color: #0c211f;

	//line-height: normal;
	vertical-align:middle;
}

.pregunta {
	//padding-botton: 1%;
	//padding-botton: 5%;
	//padding-top:1%;
	margin-top:10px;
	text-align: center;


	color: #fff;
	text-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

	background-color: #155847;
	//box-shadow: 0 1px 2px rgba(0,0,0,.25);
	//border:none;
}
.page-header{
	border:none;
	//padding-bottom:2%;
	margin:0;
}
.tPreg{
	padding-top:0%;
	padding-left:15%;
	padding-right:15%;
	margin-top:0;
	margin-bottom:0;
	height:18%;
	overflow:hidden;
	font-size:2.5em;
	font-family:yqsFont;
	color:#bcdad5;
}
.row #encabezado{
	display:block;
	position:relative;
	height:30%;
	padding-top: 0%;
	background-color:#155847;
	color:#FFF;
	//padding-bottom:10%;	
}

[class*="col-"] {
	// padding-top: 15px;
	// padding-bottom: 15px;
	background-color: #155847;
	border: none;
	//border: 1px solid #155847;
	//border: 1px solid rgba(86,61,124,.2);
}
#tarjeta1,#tarjeta2{
	//height:25%;
	padding-top:20%;
	//padding-top:75px;

	//overflow:hidden;
	position:absolute;
	width:50%;
	height:50%;

}
#tarjeta1{
	left:0;
	padding-right:3%;
}
#tarjeta2{
	left:50%;
	padding-left:3%;
}
.voto{
	//color:#FFF;
	width:50%;
	height:50%;
	//border-radius: 1em;	
	border: none;
}

#vSi {
	background-color:#20a685;
	//background: url(../img/si.jpg) no-repeat;
	background-size: 100%;
	overflow:auto;
	border-radius: 10%;
	box-shadow: 5px 5px 3px #174c3e;		
	font-family:yqsFont;
	font-size:4em;
	color:#fff;
}

#vNo {
	background-color:#dd3975;
	//background: url(../img/no.jpg) no-repeat;
	background-size: 100%;
	overflow:auto;
	border-radius: 10%;
	box-shadow: 5px 5px 3px #174c3e;			
	font-family:yqsFont;
	font-size:4em;
	color:#fff;
}

.masOp{
	position:absolute;
	top:62%;
	left:41%;
	z-index:200;
	width:15%;
	height:15%;
	//width:40px;
	//height:40px;
	text-align:center;
}

.bMasO{
	//background-color:#2d9309;
	background: url(../img/opciones.png) no-repeat;
	background-size: 100%;
	//color:#FFF;
	width:100%;
	height:100%;
	//border-radius: 1em;	
	border: none;	
}

footer {
	background-color: #155847;
	color: #000;
	//text-align: center;	
}

.sobreFrente,.sobreChicos,.sobreFondo{
	position:absolute;
	top:55%;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
}

.sobreFrente img{
	width:101px;
	height:79px;
}

.sobreChicos img{
	width:93px;
	height:79px;
}

.sobreFondo img{
	width:101px;
	height:129px;	
}
.posturas{
	position:absolute;
	text-align:center;
	background-color:#aaa;
	z-index:500;
	top:5%;
	left:0%;
	width:100%;
	height:100%;
}

.sigue{
	position:absolute;
	z-index:200;
	text-align:center;
}

.bSig{
	//background-color:#2d9309;
	background: url(../img/siguiente.png) no-repeat;
	background-size: 100%;
	//color:#FFF;
	width:100%;
	height:100%;
	//border-radius: 1em;	
	border: none;	
}

@media screen and (max-width:480px){
	.imgInicio{
		width:230px;
		height:50px;
	}

	h1{
	//	font-size:2em;
	}

	h3{
		font-size:1.5em;
	}

	h4{
	//	font-size:0.9em;
	}
	
	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:5%;
		width:90%;	
	}*/
}
@media only screen and (min-width:481px){
	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:10%;
		width:80%;	
	}*/
}
@media only screen and (min-width:768px){
	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:15%;
		width:70%;	
	}*/
}
@media only screen and (min-width:960px){
	/* styles for browsers larger than 960px; */
	/*.imgInicio{
		width:345px;
		height:75px;
	}/*

	/*.bJugar{	
		width:338px;
		height:84px;
	}*/

	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:20%;
		width:60%;	
	}*/
}
@media only screen and (min-width:1440px){
	/* styles for browsers larger than 1440px; */	
	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:25%;
		width:50%;	
	}*/
}
@media only screen and (min-width:2000px){
	/* for sumo sized (mac) screens */
	/*.sobreFrente,.sobreChicos,.sobreFondo{
		left:30%;
		width:40%;	
	}*/
}
@media only screen and (max-device-width:480px){
	/* styles for mobile browsers smaller than 480px; (iPhone) */
	
}



@media only screen and (device-width:768px){
	/* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	/* For landscape layouts only */
}
